/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:22%; 
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgray;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightsalmon;
  color: white;
}

body {
    background-color: pink;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  padding-top: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

h5 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: cursive;
}


h6 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: cursive;
}


h2 {
    text-align: left;
    font-size: 30px;
    color: black;
    font-family: cursive;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: cursive;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* Add a black background color to the top navigation */
.bottomnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:100%; 
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color: lightgray;
  color: black;
}

/* Add a color to the active/current link */
.bottomnav a.active {
  background-color: lightsalmon;
  color: white;
}
























